@use "variables.scss" as variables;

body {
    margin: 100px auto;
    max-width: 800px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0 40px;
    background-color: var(--principal-color);
}

.post-list-container{
    background-color: rgba(245, 245, 245, 0.578);
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
    gap: 30px;
    padding: 30px;

}

@media screen and (min-width: variables.$desktop-media-query) {
    .post-list-container {
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1fr);
        gap: 30px;
    }

}



