@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');




:root{
  --color-base: #262A30;
  --color-primary: #FDCD5C;
  --color-secondary: #1469D0;
  --colir-light: #BCB5A9;
}


*, html{
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body{
  background-color: var(--color-base);
  color: var(--colir-light);
}

main{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0px;
}

.intro-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 500px;

}

@media screen and (min-width: 720px) {
  main{
    gap: 100px;
    padding: 100px 0px;
  }
}


/* utilities */

.color-primary{
  color: var(--color-primary);
}

.size-m{
  font-size: 24px;
}

.t-center{
  text-align: center;
}




.dog-list {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  padding: 16px;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .dog-list {
      grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 900px) {
  .dog-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

footer p{
  text-align: center;
  font-size: 14px;
}

footer p a{
  color: var(--color-primary);
  text-decoration: none;
}

footer p a:hover{
  color: var(--color-primary);
  text-decoration: underline;
}