
.Body {
background-color: tomato;

}

.MainNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-left: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #007bff;
}

.PostCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #40ff00;
  color: #050000;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.tag a {
  text-decoration: none;
  color: inherit;
}

.heading {
  margin: 0 0 0.5rem;
}

.card footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.PostListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 10rem;
}

.card {
  display: grid;
  width: 100%;
  max-width: 900px;
  margin : 3rem; /* Añadir margen uniforme a las tarjetas */
  justify-content: left;
  transition: transform 0.3s, box-shadow 0.3s
}

.read-the-docs {
  color: #888;
}


.card:hover {
  transform: translateY(-5px); /* Desplazar hacia arriba al pasar el mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el mouse */
}
