.loader{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
gap: 16px;
}

.lader-image{
    width: 80px;
    height: 80px;
    background: url('/guessTheBreed-icon.svg') no-repeat center;
    background-size: 100%;

}